#game_title {
    font-family: papyrus;
    color: crimson;
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

p {
    text-align: center;
    margin: 22px 0;
    font-size: 30px;
}

#blanksWord_text {
    letter-spacing: 5px;
    font-size: 40px;
    font-family: arial, helvetica, sans-serif;
    margin-bottom: 30px;
}

#instructions_text {
    position: absolute;
    top: 400px;
    width: 100%;
    text-align: center;
}

#info_img {
    float: left;
}

#info_section {
    position: absolute;
    border: blue solid 2px;
    top: 500px;
    width: 90%;
    left: 5%;
}